In [5]:
import pandas as pd
import numpy as np

In [6]:
df_books = pd.read_csv('./clientes.csv',sep=';',header=0)
df_books

,horario,lunes,martes,miercoles,jueves,viernes,sabado,domingo,lunes .1,martes.1,miercoles.1,jueves .1,viernes.1,sabado .1
0,6,NaN,3,5,9,0,0,0,4,9,4,5,8,NaN
1,7,NaN,3,5,0,0,0,0,2,3,7,2,2,4.0
2,8,NaN,4,3,2,0,0,0,0,4,0,2,0,3.0
3,9,NaN,4,4,0,0,0,0,1,9,7,2,9,1.0
4,10,NaN,2,6,2,0,0,2,10,11,4,10,3,4.0
5,11,NaN,1,7,5,0,0,3,11,4,4,5,2,3.0
6,12,NaN,7,1,10,0,0,2,9,6,9,11,15,0.0
7,13,NaN,0,2,1,0,0,0,1,3,1,3,4,3.0
8,14,NaN,1,7,1,0,0,0,7,2,7,1,5,0.0
9,15,NaN,7,1,1,0,0,1,3,3,3,1,3,0.0
10,16,NaN,5,5,2,0,0,0,1,4,1,2,3,4.0
11,17,NaN,3,2,3,0,0,0,1,1,1,2,4,0.0
12,18,NaN,5,1,0,0,0,0,1,1,1,4,1,1.0
13,19,NaN,0,1,1,0,0,0,2,1,2,1,1,0.0
14,20,NaN,0,2,0,0,0,0,2,0,0,0,0,0.0

In [15]:
df_books.pivot_table(index='horario')

,domingo,jueves,jueves .1,lunes .1,martes,martes.1,miercoles,miercoles.1,sabado,sabado .1,viernes,viernes.1
horario,,,,,,,,,,,,
6,0,9,5,4,3,9,5,4,0,NaN,0,8
7,0,0,2,2,3,3,5,7,0,4.0,0,2
8,0,2,2,0,4,4,3,0,0,3.0,0,0
9,0,0,2,1,4,9,4,7,0,1.0,0,9
10,2,2,10,10,2,11,6,4,0,4.0,0,3
11,3,5,5,11,1,4,7,4,0,3.0,0,2
12,2,10,11,9,7,6,1,9,0,0.0,0,15
13,0,1,3,1,0,3,2,1,0,3.0,0,4
14,0,1,1,7,1,2,7,7,0,0.0,0,5
15,1,1,1,3,7,3,1,3,0,0.0,0,3
16,0,2,2,1,5,4,5,1,0,4.0,0,3
17,0,3,2,1,3,1,2,1,0,0.0,0,4
18,0,0,4,1,5,1,1,1,0,1.0,0,1
19,0,1,1,2,0,1,1,2,0,0.0,0,1
20,0,0,0,2,0,0,2,0,0,0.0,0,0

In [16]:
def two_times(value):
    return value * 2

In [19]:
df_books['horario'].apply(two_times)

0     12
1     14
2     16
3     18
4     20
5     22
6     24
7     26
8     28
9     30
10    32
11    34
12    36
13    38
14    40
Name: horario, dtype: int64

In [22]:
df_books['tabla'] = df_books['martes'].apply(two_times)
df_books

,horario,lunes,martes,miercoles,jueves,viernes,sabado,domingo,lunes .1,martes.1,miercoles.1,jueves .1,viernes.1,sabado .1,tabla
0,6,NaN,3,5,9,0,0,0,4,9,4,5,8,NaN,6
1,7,NaN,3,5,0,0,0,0,2,3,7,2,2,4.0,6
2,8,NaN,4,3,2,0,0,0,0,4,0,2,0,3.0,8
3,9,NaN,4,4,0,0,0,0,1,9,7,2,9,1.0,8
4,10,NaN,2,6,2,0,0,2,10,11,4,10,3,4.0,4
5,11,NaN,1,7,5,0,0,3,11,4,4,5,2,3.0,2
6,12,NaN,7,1,10,0,0,2,9,6,9,11,15,0.0,14
7,13,NaN,0,2,1,0,0,0,1,3,1,3,4,3.0,0
8,14,NaN,1,7,1,0,0,0,7,2,7,1,5,0.0,2
9,15,NaN,7,1,1,0,0,1,3,3,3,1,3,0.0,14
10,16,NaN,5,5,2,0,0,0,1,4,1,2,3,4.0,10
11,17,NaN,3,2,3,0,0,0,1,1,1,2,4,0.0,6
12,18,NaN,5,1,0,0,0,0,1,1,1,4,1,1.0,10
13,19,NaN,0,1,1,0,0,0,2,1,2,1,1,0.0,0
14,20,NaN,0,2,0,0,0,0,2,0,0,0,0,0.0,0

In [27]:
df_books ['martes1'] = df_books['martes'].apply(lambda x : x * 4)
df_books

,horario,lunes,martes,miercoles,jueves,viernes,sabado,domingo,lunes .1,martes.1,miercoles.1,jueves .1,viernes.1,sabado .1,tabla,martes1
0,6,NaN,3,5,9,0,0,0,4,9,4,5,8,NaN,6,12
1,7,NaN,3,5,0,0,0,0,2,3,7,2,2,4.0,6,12
2,8,NaN,4,3,2,0,0,0,0,4,0,2,0,3.0,8,16
3,9,NaN,4,4,0,0,0,0,1,9,7,2,9,1.0,8,16
4,10,NaN,2,6,2,0,0,2,10,11,4,10,3,4.0,4,8
5,11,NaN,1,7,5,0,0,3,11,4,4,5,2,3.0,2,4
6,12,NaN,7,1,10,0,0,2,9,6,9,11,15,0.0,14,28
7,13,NaN,0,2,1,0,0,0,1,3,1,3,4,3.0,0,0
8,14,NaN,1,7,1,0,0,0,7,2,7,1,5,0.0,2,4
9,15,NaN,7,1,1,0,0,1,3,3,3,1,3,0.0,14,28
10,16,NaN,5,5,2,0,0,0,1,4,1,2,3,4.0,10,20
11,17,NaN,3,2,3,0,0,0,1,1,1,2,4,0.0,6,12
12,18,NaN,5,1,0,0,0,0,1,1,1,4,1,1.0,10,20
13,19,NaN,0,1,1,0,0,0,2,1,2,1,1,0.0,0,0
14,20,NaN,0,2,0,0,0,0,2,0,0,0,0,0.0,0,0

In [42]:
miniarray = np.array([[7, 8],[2, 1],[2, 4]])
ultra  =np.shape(miniarray)
j = np.numdim(miniarray)
j

AttributeError: module 'numpy' has no attribute 'numdim'